body{
    text-align: center;
    background: url(bg2.jpg) center center fixed;
    background-size: cover;
}
#header{
    height: 80px;
    width: 500px;
    margin: 20px 0px 0px 50px;
    font-size: 4.5em;
    font-family: 'Bonheur Royale', cursive;
    font-weight: 700;
    text-align: center;
    text-shadow: 4px 4px #d4d3d3;

}
.inputContainer{
    width: 200px;
    margin: 0 auto;
}
.input{
    height: 30px;
    font-size: 1.3em;
}
#slider{
    margin: 10px auto;
}
#circle{
    height: 3px;
    width: 3px;
    border-radius: 50%;
    background-color: black;
    margin: 0 auto;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
#thicknessInput{
    position: relative;
}
#container{
    width: 700px;
    height: 350px;
    border: 1px solid black;
    margin: 10px auto;
}
canvas{
    height: 350px;
}
#paint{
    background-color: white;
    cursor: crosshair;
}
.inputContainer2{
    width: 399px;
    margin: 0 auto;
}
.input2{
    width: 133px;
    color: white;
    font-size: 1.3em;
    float: left;
    margin-top: 10px;
}
.button{
    background: black;
    height: 50px;
    padding: 10px;
    border-radius: 3px;
    font-weight: bold;
    cursor: pointer;
    box-shadow: 4px 4px rgba(0,0,0,0.2);
    position: relative;
    
}
.button:hover{
    color: white;
    background: linear-gradient(rgb(194, 194, 194),black);
}
.button:active{
    top:4px;
}
.eroseMode{
    background-color: rgb(216, 216, 216);
    color: black;
}
@media (max-width: 1104px) {
    .about .about-content .left img{
        height: 350px;
        width: 350px;
    }
    .max-width #img{
        display: none;
    }
    
}

@media (max-width: 991px) {
    #header{
        margin-top: 120px;
        margin-left: -80px;
    }
    #colorInput{
        margin-top: 20px;
    }
    #container{
        width: 700px;
        height: 300px;
    }
    canvas{
        width: 700px;
        height: 300px;
    }
    
}
@media (max-width: 947px){
    #header{
        margin-top: 120px;
        margin-left: -80px;
    }
    #colorInput{
        margin-top: 20px;
    }
    #container{
        width: 500px;
    }
    canvas{
        width: 500px;
    }

}
@media (max-width: 500px) {
    #header{
        font-size: 100px;
        margin-top: 40px;
        margin-left: 0px;
    }
    #colorInput{
        font-size: 0px;
    }
}